/* MEDIA QUERY DESKTOP */

@media (min-width: 481px) and (max-width: 1500px) {

	.product {
		z-index: 1;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		text-align: center;
		width: 300px;
		height: 400px;
		margin: 10px;
	}

	.product__info {
		text-align: start;
		margin: 10px 0 10px 10px;
	}

	.product__info p {
		margin-bottom: 5px;
	}

	.product__ratingStar {
		height: 30px;
	}

	.product__image {
		height: 150px;
		object-fit: contain;
	}

	.product__buttonBasket {
		width: 60%;
	}

	.product:first-child {
		margin-top: 130px;
	}

	.product:not(:first-child) {
		margin-top: 10px;
	}
}

/* MEDIA QUERY MOBILE */

@media only screen and (max-width: 480px) {
	.product {
		z-index: 1;
		background-color: #fff;
		width: 160px;
		height: 250px;
		border: 1px solid grey;
		text-align: center;
		padding-top: 5px;
		box-shadow: inset 0 0 5px #333;
	}

	.product:first-child, .product:nth-child(2) {
		margin-top: 170px;
	}

	.product:not(:first-child):not(:nth-child(2)) {
		margin-top: 10px;
	}

	.product:nth-last-child(-n+2) {
		margin-bottom: 160px;
	}

	.product__info {
		margin: 0 7px 6px 10px;
	}

	.product .product__image {
		width: 150px;
		object-fit: contain;
	}

	.product__ratingStar {
		height: 15px;
	}

	.home__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
